
/* ===== RESPONSIVE BREAKPOINTS =====
   1200px → small desktops
   992px  → tablets landscape
   768px  → tablets portrait
   576px  → mobile
*/

@media (max-width: 992px) {
  h1 { font-size: 2.2rem; }
  h2 { font-size: 2rem; }
}

@media (max-width: 768px) {
  h1 { font-size: 1.8rem; }
  h2 { font-size: 1.6rem; }
  p  { font-size: 0.95rem; }
}

@media (max-width: 576px) {
  h1 { font-size: 1.6rem; }
  h2 { font-size: 1.4rem; }
}


/* TABLET MODE */

@media (max-width: 992px) {


   .nav-logo {
    font-size: 2.5rem;
   }

     .nav-btn {
    padding: 0.5rem 0.9rem;
    font-size: 1rem;
  }

 .hero-content {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

   .hero-text {
    align-items: center;
    gap: 2.5rem;
   }

   .hero-text h1 {
    font-size: 2.6rem;
   }

   .hero-text p {
    font-size: 1.2rem;
   }

  .hero img {
    max-width: 100%;
  }

  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }

   .steps-content {
      display: flex;
  justify-content: center;  /* center the group */
  gap: 30px;
  }

  .pricing-grid {
     display: flex;              
  justify-content: center;    
  gap: 2rem;
  flex-wrap: wrap;  
  }

  .popular {
    transform: scale(1);
  }
}


/* SMALL MOBILE STYLE */

@media (max-width: 576px) {
  .hero-buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .hero-buttons a {
    width: 100%;
  }

   .features-grid {
    grid-template-columns: 1fr;
  }
}


/* MOBILE STYLE */

@media (max-width: 768px) {
  /* NAVBAR */

  .menu-icon {
    display: block;
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
    color: #1e2e4e;
  }

  /* DEFAULT MOBILE STATE → show hamburger */

  .menu-icon .open-icon {
    display: inline-block;
  }

  .menu-icon .close-icon {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* padding: 0.8rem 1rem; */
  }

  .nav-links {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    height: 100vh;
    background: #6189c9;
    
    padding: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 1000;
    text-align: center;
  }

  .nav-links ul a {
    font-size: 1.3rem;
  }

  .nav-links ul a:hover {
    background-color: #fff;
    color: #6189c9;
  }

 #nav-toggle:checked ~ .nav-links {
  display: block;
}

  /* DEFAULT STATE */
  .open-icon { display: inline-block; }
  .close-icon { display: none; }

  /* WHEN CHECKED */
  #nav-toggle:checked + .menu-icon .open-icon {
    display: none;
  }
 #nav-toggle:checked + .menu-icon .close-icon {
    display: inline-block;
  }


  .menu-icon {
    order: 3;
  } /* push icon to right */
  .nav-logo {
    order: 1;
  } /* logo left */
  .nav-btn {
    order: 2;
  } /* stays near logo on desktop */

  .nav-btn {
    display: none;
  }

    .nav-content {
    padding: 0.8rem 1rem;
  }

  .nav-logo {
    font-size: 1.4rem;
  }

  /* HERO SECTION */

  .hero-content {
    flex-direction: column;
  }

  /* FEATURES SECTION */

  
  .features-grid {
    grid-template-columns: 1fr;
  }


/* HOW IT WORKS SECTION */


  .steps-content {
    flex-direction: column;
  }


.cta-container h2 {
    font-size: 2rem;
  }

  .cta-container p {
    font-size: 1rem;
  }

   .cta-container {
    padding: 4rem 1.5rem;
  }

  .cta-btn {
    width: 100%;
    display: inline-block;
  }

  /* FOOTER */

   .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }
}