* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* VARIABLES */

:root {
    --primary-color: #6189c9;
    --secondary-color: #8B5CF6;
    --tertiary-color: #1e2e4e;
    --light-bg: #F9FAFB;
}

/* HEADER SECTION */


.nav-container {
    /* border: 1px solid black; */
    background-color: var(--light-bg);
  padding: 1.2rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-family: ;
    font-size: 3rem;
    font-weight: 700;
    color: var(--tertiary-color);
}

.nav-links { 
    display: flex;
   gap: 9rem;
   font-size: 1.3rem;
   font-weight: 550;
}

.nav-links a:hover {
  color: #3B82F6;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
}

.nav-btn {
    background-color: var(--tertiary-color);
    color: var(--light-bg);
    text-decoration: none;
    padding: 0.9rem 1.2rem;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    transition: 0.3s;
}

.nav-btn:hover {
    
  background-color: #2563EB;

}

/* hide checkbox */

#nav-toggle {
  display: none;
}

/* hide hamburger icon on desktop */

.menu-icon {
   display: none;
}


/* MAIN SECTION */

/* HERO SECTION */

.hero {
    background-color: #F9FAFB;
    /* border: 1px solid black; */
}

.hero-content {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 3.5rem 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

.hero-text,
.hero-img {
   flex: 1;
   min-width: 300px;
}

.hero-text h1 {
    font-size: 3rem;
  color: var(--tertiary-color);
}

.hero-text p {
    font-size: 1.5rem;
    color: #4B5563;
}

.hero-btns {
    display: flex;
    gap: 1.3rem;
}

.hero-btn-1 {
  background: #3B82F6;
  color: white;
  padding: 12px 22px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  transition: 0.3s;
}

.hero-btn-1:hover {
  background: #2563EB;
}

.hero-btn-2 {
  border: 2px solid #3B82F6;
  padding: 10px 18px;
  border-radius: 0.5rem;
  color: #3B82F6;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.hero-btn-2:hover {
  background: #3B82F6;
  color: white;
}


.hero-img img {
  max-width: 100%;
  width: 600px;
  height: auto;
  border-radius: 0.8rem;
}


/* FEATURES SECTION */


.features-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 1rem;
    padding: 1rem 0;
}

.features-container h1 {
    color: #1e2e4e;
    font-size: 2.5rem;
}

.features-grid,
.pricing-grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.features-card {
    border: 1px solid #4B5563;
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem  0.5rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    transition: transform linear 0.3s;
}

.features-card:hover {
  transform: scale(1.1);
  border: 2px solid #2563EB;
  cursor: pointer;
}

.features-card i {
    font-size: 38px;
  color: #3B82F6;
}

.features-card h3,
.step h3 {
    color: #1e2e4e;
    text-align: center;
    font-size: 1.5rem;
}

.features-card p,
.step p {
    text-align: center;
    font-size: 1.1rem;
}


/* HOW IT WORKS SECTION */



#how-it-works {
  margin-top: 4rem;
}

.container h2 {
   font-size: 2.4rem;
   color: #1e2e4e;
   text-align: center;
}


.steps-content {
    
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 2.5rem;
}

.step {
    border: 1px solid black;
  background: white;
  padding: 30px;
  border-radius: 12px;
  flex: 1;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.step-number {
  width: 70px;
  height: 70px;
  background: #3B82F6;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  /* margin: 0 auto 15px; */
}


.step h3 {
  margin-bottom: 1rem;
}

.step p {
  color: #4B5563;
}


/* PRICING SECTION */

.pricing-container {
    text-align: center;
    padding-top: 6rem;
}

.pricing-container h1 {
    font-size: 2.8rem;
    color: #1e2e4e;
    margin-bottom: 1.5rem;
}

.pricing-container p {
    font-size: 1.3rem;
    color: #4B5563;
    margin-bottom: 3.5rem;
}

.price-card {
    
    position: relative;
    border: 2px solid #6b7280;
    border-radius: 0.8rem;
    padding: 1.5rem 0.8rem;
    transition: transform linear 0.3s;
}

.price-card:hover {
box-shadow: 0 8px 20px rgba(60, 94, 167, 0.6);
cursor: pointer;
transform: translateY(-10px);
}

.price-card h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #1e2e4e;
}


.price-card p {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.price-card span {
  font-size: 1rem;
  color: #6b7280;
}

.price-card ul {
    text-align: left;
   
    margin: 1rem 0 2rem 1.5rem;
    
}

.price-card ul li {
    list-style: disc;
font-size: 1.2rem;
margin-bottom: 0.5rem;
}

.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
}

.badge h3 {
    font-size: 2rem;
}

.badge span {
    color: #2563EB;
    font-size: 2rem;
    font-weight: 600;
}

.popular {
  border: 2px solid #4f7cff;
}

.price-btn {
    padding: 0.6rem 1.2rem;
     background: #4f7cff;
  color: white;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 600;
  border-radius: 0.6rem;
}

.price-btn:hover {
    background-color: #2563EB;
}

/* CTA SECTION */

#cta-section {
    /* border: 1px solid black; */
    background: #3B82F6; 
  color: white;
  padding: 4rem;
  text-align: center;
  border-radius: 14px;
  margin-top: 3rem;
}

.cta-container h2 {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.cta-container p {
  font-size: 1.3rem;
  margin-bottom: 3.5rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cta-btn {
  background: white;
  color: #3B82F6;
  padding: 1rem 2rem;
  border: 1px solid #3B82F6;
  border-radius: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.4rem;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #e0e7ff;
}


/* FOOTER */


footer {
      padding: 3rem 2rem 0.8rem;
  font-size: 0.9rem;
}

footer a {
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.05rem;
}

footer a:hover {
  color: #3B82F6;
}

.footer-container {
  max-width: 1200px;
  /* margin: auto; */
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
}

.footer-links {
    flex: 2 1 500px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.link-group h4 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.link-group ul {
  list-style: none;
  padding: 0;
}

.link-group ul li {
  margin-bottom: 0.8rem;
}

.footer-social {
  width: 100%;
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  
}

.footer-social a i {
font-size: 1.3rem;
color: #2563EB;
}

.footer-copyright {
   flex-basis: 100%;
    font-size: 1.1rem;
    text-align: center;
}